.places__paragraph{
    margin: 26px auto 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.places__paragraph:first-of-type{
    margin: 0px auto 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .places__paragraph{
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767px){
    .places__paragraph{
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }

}
