.places{
    margin: 92px 48px auto 48px;
}

@media screen and (min-width: 1280px){
    .places{
        margin: 92px 148px auto 148px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .places{
        margin: 88px 24px auto 24px;
    }
    
}

@media screen and (max-width: 767px){
    .places{
        margin: 64px 0px auto 0px;
    }
}