.intro__list {
    margin:0;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
}
