.lead {
    display: flex;
    flex-direction: column;
    margin: 48px auto 0px auto;
}

@media screen and (min-width: 1280px){
    .lead {
        max-width: 984px;
        margin: 56px auto 0 auto;
        }
}

@media screen and (max-width: 1023px){
    .lead{
        margin: 48px 0 0 0;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .lead{
        margin: 48px 0 0 0;
    }

}