.header__logo {
    width: 177px;
    height: 52px;
    background-image: url('../../../images/header-logo.svg');
    background-size: contain;
}

@media screen and (max-width: 767px){
    .header__logo {
        width: 142px;
        height: 42px;
    }

}