.lead__title {
    margin: 0 auto 0 auto;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .lead__title{
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (max-width: 767px) {
    .lead__title{
        padding: 0px 16px 0px 16px;
        font-size: 40px;
        line-height: 44px;
    }
}
