.cover{
    margin: 92px 0 auto 0;
    height: 640px;
    background: url(../../images/cover-trains.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width: 1280px){
    .cover{
        margin: 92px auto auto auto;
        height: 740px;
        max-width: 1280px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .cover{
        margin: 90px 0 auto 0;
        height: 480px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px){
    .cover{
        margin: 66px 0 auto 0;
        height: 300px;
    }
}

@media screen and (max-width: 424px){
    .cover{
        margin: 66px 0 auto 0x;
        width: 100vw;
        height: 200px;
    }
}
