.lead__images{
    position: relative;
    justify-content: center;
    align-items: center;
    display:inline-block;
    margin: 0 auto;
}

@media screen and (max-width: 767px){
    .lead-images{
        width: 100vw;
    }
}