.footer {
    margin: 92px 48px 0px 48px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .footer {
        margin: 92px 24px 0px 24px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 767px){
    .footer {
        margin: 64px 16px 0px 16px;
        padding-bottom: 24px;
        flex-direction: column;
    }   
}